{% extends 'todo/base.html' %}

{% block content %}

<h1>Current Todos</h1>
<ul>
<!--cycling through the todos of the user from the dictionary passed todos-->
    {% for todo in todos %}
    <!--adding links to the list object-->
        <a href="{% url 'viewtodo' todo.id %}">
            <li>
                <!--making the important todos bold-->
                {% if todo.important %}<b>{% endif %}
                    {{ todo.title }}
                {% if todo.important %}</b>{% endif %}
            </li>
        </a>
    {% endfor %}
</ul>
{% endblock %}